[general]
db=_autotorrent.db
ignore_files=
store_path=/home/rtorrent/myseeds/
add_limit_size=64000000
add_limit_percent=1
link_type=soft
scan_mode=unsplitable,normal

[disks]
disk1=/mnt/sd1/anime/
disk2=/mnt/sd1/tv/

[client]
